
.btn {
    background-color: transparent;
    border: none;
    color: whitesmoke;
    cursor: pointer;
    font-size: 12px;
    padding: 7px 10px 7px 10px;

    &:focus {
        outline: none;
    }

    &:hover {
        color: darken($color: white, $amount: 20);
    }

    transition: color .3s ease;
}

.btn-block {
    width: 100%;
}

.btn-danger {
    background-color: black;
    transition: background-color .3s ease;

    &:hover {
        background-color: darken($color: #000000, $amount: 15) black;
    }
}

.btn-primary {
    background-color: $primary;
    border-radius: 2px;

    &:disabled {
        background-color: lighten($color: $primary, $amount: 15);
    }

    &:hover {
        background-color: darken($color: $primary, $amount: 20);
    }
}